/* Estilos generales */
@media (max-width: 768px) {
  img {
    width: 100%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../assets/desarrollo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-color: blue;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: none;
}

/* Estilo de la barra de navegación */
nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.contenido-seccion {
  text-align: center;
  text-decoration: solid;
  text-decoration-style: double;
  color: #fff;
}

.proyecto {
  text-align: center;
  font-size: larger;
  padding: 85px;
  font-size: x-large;
}

/* Estilos del área principal */
#inicio {
  text-align: center;
  padding: 50px 0;
}

#inicio img {
  border-radius: 100%;
  margin: 20px 0;
  box-shadow: none;
}

#inicio h1 {
  font-size: 2.5em;
  color: #fff;
}

#inicio h2 {
  font-size: 1.5em;
  color: #fff;
}

.social-media-icons {
  margin: 5px 0;
  height: 105;
  width: 105;
}

/* Estilos de la sección de habilidades */
#skills {
  padding: 20px;
  text-align: center;
}

.skill-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.skill-set > div {
  width: 30%;
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;  /* Added to center horizontally */
}

/* Target the progreso element within each barra-skill */
.barra-skill .progreso {
  --progress-color: #007bff;
  --progress-width: 0%;
}

.barra-skill .progreso .progreso-interno {
  background: linear-gradient(to right, var(--progress-color) var(--progress-width), #fff var(--progress-width));
  transition: width 1s ease-in-out;
  width: var(--progress-width); 
}

.barra-skill .progreso span {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 5px;
}

.barra-skill .progreso {
  --progress-color: #007bff; 
}

/* Fila */
.fila {
  display: inline;
  flex-wrap: wrap;
}

/* Formulario */
#for {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Campos de texto */
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Mensaje */
textarea {
  height: 150px;
}

/* Botón de envío */
button {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0069d9;
}

button:hover .overlay {
  opacity: 1;
}

/* Estilos del footer */
footer {
  background-color: #1e2326;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
